# Project Management Files
.git/
.idea/
.github/

# Documentation
doc/
# Non Containerized Environment Files
odoo18/
# Containerized Database Data Volumes
volumes/

dev.Dockerfile
docker-compose.yaml
